<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="ShapeHelper" class="com.demo.ShapeHelper">
        <constructor-arg ref="Circle"/>
    </bean>
    <bean id="Circle" class="com.demo.Circle"/>
    <bean id="Rectangle" class="com.demo.Rectangle"/>

</beans>